@using PhuKienDienThoai.Models
@using PhuKienDienThoai.Controllers

@model List<SanPham>
<div class="features_items"><!--features_items-->
    <h2 class="title text-center"><span class="text-block">@ViewData["HeadTitle"]</span></h2>
    <div class="row">
    @foreach(var item in Model)
    {
                </div>
            </div>
        </div>
    }
    </div>
    
</div><!--features_items-->

@if(TempData["Message"]!=null)
{
    <script>
        alert("@Html.Raw(TempData["Message"])");
    </script>
}
