@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Quên mật khẩu?";
}

<h2>@ViewData["Title"]</h2>
<h4>Vui lòng nhập địa chỉ email đã đăng kí với chúng tôi.</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
            </div>

            <button type="submit" class="btn btn-default">Xác nhận</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
