@*using PhuKienDienThoai.Models*@
@*model List<SanPham>*@
@using X.PagedList.Mvc.Core
@using X.PagedList
@using PhuKienDienThoai.Controllers
@*@using X.PagedList;*@
@{
    ViewData["HeadTitle"] = "PhuKienDienThoai.com - Phụ Kiện Điện Thoại Chính Hãng";
}

@(await Component.InvokeAsync("PhuKienGiamGia", new { soluong = 9 }))

<div class="clearfix"></div>

@(await Component.InvokeAsync("PhuKienMoi", new { soluong = 9 }))

<div class="clearfix"></div>

@if (TempData["Message"] != null)
{
    <script>
        alert("@Html.Raw(TempData["Message"])");
    </script>
}

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="2272096263019231"
     theme_color="#ff7e29">
</div>

<!-- Subiz Chat -->
<script>
    (function (s, u, b, i, z) { u[i] = u[i] || function () { u[i].t = +new Date(); (u[i].q = u[i].q || []).push(arguments); }; z = s.createElement('script'); var zz = s.getElementsByTagName('script')[0]; z.async = 1; z.src = b; z.id = 'subiz-script'; zz.parentNode.insertBefore(z, zz); })(document, window,
        'https://widgetv4.subiz.com/static/js/app.js', 'subiz'); subiz('setAccount', 'achizkqwrxuokbga');
</script>


