@*using PhuKienDienThoai.Models*@
@*model List<SanPham>*@
@using X.PagedList.Mvc.Core
@using X.PagedList
@using PhuKienDienThoai.Controllers
@*@using X.PagedList;*@
@{
    ViewData["HeadTitle"] = "PhuKienDienThoai.com";
}

@(await Component.InvokeAsync("PhuKienGiamGia", new { soluong = 6 }))

<div class="clearfix"></div>

@(await Component.InvokeAsync("PhuKienMoi", new { soluong = 9 }))

<div class="clearfix"></div>


